*, *:before, *:after {
	box-sizing: border-box;
}
.clearfix:before, 
.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

h1, h2 {
	margin: 0;
}	

#playlist {
	width: 300px;
}

ol {
	list-style: none;
	padding: 0;
	margin: 0;
}

li {
	border-width: 1px;
	border-style: solid;
	border-color: black;
	color: white;
	font-family: sans-serif;
	padding: 10px;
	background: linear-gradient(10deg, #111, #4a4a4a);
}

.album-info img {
	width: 75px;
	float: left;
}

.track-info {
	float: right;
}
.track-info h1 {
	font-size: 20px;
}
.track-info h2 {
	font-weight: 100;
	font-size: 18px;
}
.control-panel p {
	float: left;
	margin: 0;
}
.control-panel button {
	float: right;
}
