*,*::before, *::after {
	box-sizing: border-box;
}
.clearfix::before,
.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

body {
	margin: 0;

}
	


#hero {
	background-image: url(../img/picture1.jpg);
	background-size: cover;
	color: white;
	padding: 200px;
}

#pinktop {

	float: left;
	list-style: none;
	padding: 0;
	margin: 0;
	background-color: pink;
		li {
			a{ text-decoration: none;}
			display: inline-block;
		}
}
header, h2 {
	text-align: center;
}
#yummy {
	list-style: none; 
}